<h1>Update Power Form</h1>

<% if @errors %>

<h3><%= pluralize(@errors.count, "error") %> occured:</h3>
<ul>
<% @errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>

<% end %>


<%= form_for @power do |f| %>

<%= f.label :name %>
<%= f.text_field :name%><br />

<%= f.label :description %>
<%= f.text_area :description%><br />

<%= f.label "Select Heroines" %><br />

<% @heroines.each do |heroine| %>
<input id='heroine_<%= heroine.id %>' name="power[heroines][]" type="checkbox" value="<%= heroine.id %>" /><%= heroine.super_name %><br />
<% end %>

<%= f.submit %>
<% end %>