<h1> New Heroine Form</h1>

<%= form_for(@heroine) do |f| %>
    <label> Heroine Real Name: </label><br>
    <%= f.text_field :name %><br>

    <label> Heroine Super Name: </label><br>
    <%= f.text_field :super_name %><br>

    <label> Heroine Super Power: </label><br>
    <%= f.select :powers, Power.all.collect { |power| power.name } %><br>

    <%= f.submit%>

<% if @heroine.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@heroine.errors.count, "error") %>
      prohibited this heroine from being created:
    </h2>
 
    <ul>
    <% @heroine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>
