<h3><%= @power.name.titlecase %></h3>
<p><%= @power.description %></p>
<br><br>
<%= link_to "Edit This Power!", edit_power_path %>
<br><br>
<%= link_to "List of Powers", powers_path %>
<br><br>
<%= link_to "List of Heroines", heroines_path %>